.counter {
    -fx-font-size: 18;
}

.label {
    -fx-font-size: 18;
}

.counter .minus {
    -fx-background-radius: 10 0 0 10;
}
.counter .field {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 0;
    -fx-font-size: 18;
}
.counter .plus {
    -fx-background-radius: 0 10 10 0;
}