.counter {
    -fx-font-size: 16;
}

.label {
    -fx-font-size: 16;
}

.counter .imat-button {
     -fx-background-color: #f4fff5;
}
.counter .imat-button:hover {
    -fx-background-color: #bec6bf;
}

.counter .minus {
    -fx-background-radius: 10 0 0 10;
}
.counter .field {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 0;
}
.counter .plus {
    -fx-background-radius: 0 10 10 0;
}