.search .search-text, .search .search-button {
    -fx-font-size: 18;
}

.search .search-text {
    -fx-background-radius: 10 0 0 10;
    -fx-padding: 7;
}

.search .search-button {
    -fx-background-radius: 0 10 10 0;
}