.product-item {
    -fx-background-color: #ffc99e;
    -fx-background-radius: 5;
}

.product-item: hover {
-fx-scale-x: 1.04;
-fx-scale-y: 1.04;
}
.product-item .label {
    -fx-font-size: 16;
    -fx-text-fill: black;
}
.product-item .label.bold {
    -fx-font-weight: bold;
}

.product-list {
    -fx-background-color: #f4fff5;
    -fx-background-radius: 0 10 0 0;
}

.product-list .arrow {
    -fx-font-size: 18;
}