
.buttonInfo{
 -fx-background-color: rgba(199, 234, 219, 1);
 -fx-font-weight: bold;
 -fx-background-radius: 10;
 -fx-font-size: 18;
 -fx-text-fill: black;
}

.buttonInfo:hover{
-fx-background-color: #8dbca8;
-fx-font-weight: bold;
-fx-background-radius: 10;
-fx-font-size: 18;
-fx-text-fill: white;
}

.buttonForm{
-fx-background-color: rgba(199, 234, 219, 1);
-fx-font-weight: bold;
-fx-background-radius: 20;
-fx-font-size: 18;
-fx-text-fill: black;
}

.buttonForm:hover{
-fx-background-color: #f4fff5;
-fx-font-weight: bold;
-fx-background-radius: 20;
-fx-font-size: 18;
-fx-text-fill: black;
}

.paneForm{
-fx-background-radius : 30;
-fx-border-radius : 30;
}

.paneForm2{
-fx-background-radius : 20;
-fx-border-radius : 20;
}


.buttonDecline{
 -fx-background-color: rgba(199, 234, 219, 1);
 -fx-font-weight: bold;
 -fx-background-radius: 10;
 -fx-font-size: 18;
 -fx-text-fill: black;
}

.buttonDecline:hover{
-fx-background-color: #d11f3c;
-fx-font-weight: bold;
-fx-background-radius: 10;
-fx-font-size: 18;
-fx-text-fill: white;
}

.text-field {
    -fx-padding: 4px;
    -fx-font-size: 18px;
}

.combo-box {
    -fx-padding: 2px;
    -fx-font-size: 18px;
}

.label {
    -fx-font-size: 18px;
}

.label.separator {
    -fx-font-size: 32px;
}

.header {
    -fx-font-size: 22px;
}